body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
}

.bold{
	font-weight: bold;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

/* ########################################### ALERT BOX ########################################### */
.alert_box {
	margin-top: 300px;
	margin-bottom: auto;
	background: #FFFFFF;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	border-radius: 5px;

}

/* ########################################### LOGIN ########################################### */
.login_card {
	height: 400px;
	width: 350px;
	margin-top: auto;
	margin-bottom: auto;
	background: #FFFFFF;
	border: 3px solid #051832;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;

}
.login_image {
	position: absolute;
	height: 160px;
	width: 160px;
	top: -75px;
	border-radius: 50%;
	background: #051832;
	padding: 5px;
	text-align: center;
}
.login_user_image {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	border: 2px solid white;
}
.form_container {
	margin-top: 100px;
}
.login_btn {
	width: 100%;
	background: #051832 !important;
	color: white !important;
}
.login_btn:focus {
	box-shadow: none !important;
	outline: 0px !important;
}
.login_container {
	padding: 0 2rem;
}
.input-group-text {
	background: #051832 !important;
	color: white !important;
	border: 0 !important;
	border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
	box-shadow: none !important;
	outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
	background-color: #051832 !important;
}

/* ########################################### DASHBOARD ########################################### */
.img-projeto{
	height: 15rem;
	width: 100%;	
	-webkit-box-shadow: 2px 3px 24px 0px rgba(0,0,0,0.51);
	-moz-box-shadow: 2px 3px 24px 0px rgba(0,0,0,0.51);
	box-shadow: 2px 3px 24px 0px rgba(0,0,0,0.51);	
}

.logo-entidade{
	height: 2.5rem;
	width: 2.5rem;
}